<div class="step-4">
  <div class="images">
    <img ng-click="fourStep.select('cat')" src="https://unsplash.it/0378_3fPXt37X6UQ.jpeg" alt="images">
    <img ng-click="fourStep.select('cat')" src="https://unsplash.it/0378_3fPXt37X6UQ.jpeg" alt="images">
    <img ng-click="fourStep.select('cat')" src="https://unsplash.it/0378_3fPXt37X6UQ.jpeg" alt="images">
    <img ng-click="fourStep.select('dog')" src="https://unsplash.it/0378_3fPXt37X6UQ.jpeg" alt="images">
  </div>
  <p>{{fourStep.error}}</p>
</div>