nav {
  @include flex(row);
  width: 100%;

  a {
    @include flex(row, center, center);

    //border: 1px solid black;
    width: 50%;
    height: 35px;
    color: $orange-color;
    font-size: 15px;
    font-weight: bold;
    background: white;
    box-shadow: $shadow;

    &:first-child {
      margin-right: 16px;
    }

    span::before {
      font-size: 20px;
      position: relative;
      content: '';
      display: inline-block;
      width: 0.4em;
      height: 0.4em;
      border-right: 0.1em solid $orange-color;
      border-top: 0.1em solid $orange-color;
    }
    .next {
      transform: rotate(45deg);
      margin-left: 1.1em;
    }
    .prev {
      transform: rotate(-135deg);
      margin-top: 0.2em;
      margin-right: 1em;
    }
  }
  .result {
    background: $orange-color;
    color: white;
  }
}