.social {
  @include flex(row, flex-start, stretch);
  width: 200%;

  .left,
  .right {
    @include flex(column, space-around);
    margin: 40px 0 65px 0;
    height: 208px;
  }

  .right{
    width: 100%;
  }

  .checkbox-group {
    @include flex(row, flex-start, center);
    height: 52px;
    width: 100%;

    input {
      &[type='checkbox'] {
        width: auto;
        height: auto;
        margin-right: 7px;
      }

      &[type='text'] {
        max-width: 200px;
        height: 36px;
        margin: 8px;
        position: relative;
        left: 10px;
      }
    }

    p {
      width: 253px;
      margin-left: 10px;
      color: $error-color;
      display: none;
    }
  }
}
