.input-group {
  @include flex(row, flex-start, center);
  overflow: visible;
  width: 199%;
  //border: 1px solid black;
  //position: relative;
  //overflow: visible;

  p {
    margin-left: 10px;
    color: $error-color;
    //display: none;
    //position: absolute;
    //left: 100%;
    width: 300px;
    //border: 1px solid black;
  }
  input{
    //width: 100%;
  }

  &:first-child {
    margin-top: 42px;

    // input {
    //   border: 1px solid $error-color;
    // }
  }

  &:last-child {
    margin: 16px 0 151px 0;

    // input {
    //   border: 1px solid $error-color;
    // }
  }

  select {
    color: $gray-color;
  }

  input,
  select {
    height: 52px;
    max-width: 310px;
  }
}