//main variables
$font: 'Open Sans', sans-serif;
$background: #f5f5f5;
$shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

//main colors
$error-color: #ff0000;
$gray-color: #bbbbbb;
$orange-color: #ff9800;

//images for 4 step
$images: (
  1: '../images/cat1.jpg',
  2: '../images/cat2.jpg',
  3: '../images/cat3.jpg',
  4: '../images/dog4.jpg'
);
