<div class="social">
  <div class="left">
    <div class="checkbox-group">
      <input type="checkbox" ng-model="facebook" id="">
      <label for="">Facebook</label>
    </div>
    <div class="checkbox-group">
      <input type="checkbox" ng-model="vk" id="">
      <label for="">Вконтакте</label>
    </div>
    <div class="checkbox-group">
      <input type="checkbox" ng-model="twitter" id="">
      <label for="">Twitter</label>
    </div>
    <div class="checkbox-group">
      <input type="checkbox" ng-model="odnoklasniki" id="">
      <label for="">Одноклассники</label>
    </div>
  </div>
  <div class="right">
    <div class="checkbox-group">
      <input type="text" ng-show="facebook" ng-model="user.facebook" required>
      <p ng-show="facebook">&#8212; поле дожно содержать ссылку на вашу facebook страницу</p>
    </div>
    <div class="checkbox-group">
      <input type="text" ng-show="vk" ng-model="user.vk" required>
      <p ng-show="vk">&#8212; поле дожно содержать ссылку на вашу страницу Вконтакте</p>
    </div>
    <div class="checkbox-group">
      <input type="text" ng-show="twitter" ng-model="user.twitter" required>
      <p ng-show="twitter">&#8212; поле дожно содержать ссылку на вашу twitter страницу</p>
    </div>
    <div class="checkbox-group">
      <input type="text" ng-show="odnoklasniki" ng-model="user.odnoklasniki" required>
      <p ng-show="odnoklasniki">&#8212; поле дожно содержать ссылку на вашу страницу</p>
    </div>
  </div>
</div>